import(utils, Biobase, MASS)
importFrom("grDevices", "colors", "dev.off", "png")
importFrom("graphics", "abline", "box", "contour", "hist", "layout",
             "mtext", "par", "points", "text")
importFrom("stats", "coef", "cor", "ecdf", "lm", "median", "qqnorm",
             "quantile", "sd", "summary.lm")

exportPattern("^[^\\.]")

